{% extends "template.html" %}
{% block body %}
<form action="{{ url_for('rotate') }}" method=post>
<dl>
<dt>Text to rotate:
<dd><textarea name=text rows=14 cols=80></textarea>
<dt>
  <input type='radio' name='clockwise' value=positive checked=checked /> Counterclockwise
  <input type='radio' name='clockwise' value=negative /> Clockwise
<dt>
  <input type='radio' name='iterations' value=1 checked=checked /> 90°
  <input type='radio' name='iterations' value=2 /> 180°
  <input type='radio' name='iterations' value=3 /> 270°
<dd><input type=submit value=Rotate>
</dl>
</form>
{% endblock %}
