{% extends "template.html" %}
{% block body %}
<h2>{{mode}}</h2>
<dl>
<form action="{{ url_for(mode[0]) }}" method=post>
<dt>Text to {{mode}}:</dt>
<dd><textarea name=text rows=14 cols=80>{% if text %}{{text}}{% endif %}</textarea></dd>

{% for name, option in options.items() %}<dd>
{% for value, label in option
%}    <input type='radio' name={{name}} value={{value}}{% if loop.first %} checked{% endif %} /> {{label}}
{% endfor %}</dd>{% endfor %}

<dd><input type=submit value={{mode|capitalize}}></dd>
</form>

{% if output %}<dd><pre>{{output}}</pre>{% endif %}

</dl>
{% endblock %}
